.main{
  display: flex;
  justify-content: center;
  margin-top: 51px;
  align-items: center;
}
.main input{
  width: 50%;
  padding: 0.6rem;
  font-size: 22px;
  border: 2px solid #282828;
}
.main1{
  border: 1px solid #494747;
    background-color: #494747;
    
    width: 49px;
    height: 47px;
    padding: 6px;
}
.btnNew{
  padding: 0.8rem 2.5rem;
  color: blue;
  background: none;
  font-size: 22px;
  border: 2px solid blue;
  margin-left: 3rem;
}
.im2{
  margin-left: 5rem;
}
.im3{
  margin-left: 4rem;
  border-radius: 30px;
}
.mainOne{
  font-size: 70px;
    width: 51%;
    margin-top: 8rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
}
.description{
  font-size: 20px;
  color: gray;
  width: 55%;
  margin-left: 3.4rem;
}
.btn1{
  padding: 0.5rem 1rem;
    margin-left: 3.3rem;
    background: blue;
    border: none;
    font-size: 20px;
    text-align: center;

}
.containImages{
  display: flex;
  gap: 38px;
  margin-left: 96px;

}